deep-translator==1.11.1
docx==0.2.4
docx2pdf==0.1.8
fastapi==0.95.2
nltk==3.8.1
numpy==1.24.3
pandas==2.0.1
pdf2image==1.16.3
Pillow==9.5.0
preshed==3.0.8
pydantic==1.10.8
pypandoc==1.11
pyparsing==2.4.7
PyPDF2==3.0.1
pytesseract==0.3.10
python-dateutil==2.8.2
python-docx==0.8.11
python-multipart==0.0.6
regex==2023.5.5
requests==2.31.0
scikit-learn==1.2.2
scipy==1.10.1
unoconv==0.9.0
uvicorn==0.22.0
wheel==0.37.1
typing==3.7.4.3
